<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Product App</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<div class="nav-bar"></div>

	<div id="app">
		<div class="product">
			<div class="product-image">
				<!-- v-bind is used when you want the attribute (src) to update when data changes -->
				<!-- shorthand for v-bind is just :attribute -->
				<!-- attributes: href, alt, title, class, style, disabled, src, etc -->
				<img v-bind:src="image"/>
			</div>

			<div class="product-info">
				<h1>
					<!-- {{ }} = expression, where you can use Vue data -->
					{{ title }}
				</h1>

				<!-- v-if, v-else-if and v-else are used to conditionally display something -->
				<!-- v-if adds or removes the element from the dom -->
				<!-- use v-show to toggle visibility if the view will be toggled a lot for better perforance -->
				<p v-if="inventory > 10">
					In Stock
				</p>
				<p v-else-if="inventory <= 10 && inventory > 0">
					Almost Gone
				</p>
				<p
					v-else
					:class="{ outOfStock: inventory === 0 }"
				>
					Out of Stock
				</p>

				<p v-if="onSale">
					{{ saleMessage }}
				</p>

				<ul>
					<!-- v-for is used to loop over data in array or object -->
					<li v-for="detail in details">
						{{ detail }}
					</li>
				</ul>

				<ul>
					<li v-for="size in sizes">
						{{ size }}
					</li>
				</ul>

				<!-- use key with v-bind when looping and creating elements -->
				<!-- v-on has a short cut: @ -->
				<!-- can call a method with v-on/@ and pass a property to it -->
				<!-- :style uses style binding so you can reference data in the style properties -->
				<!-- can also bind to a styleObject that lives in data instead of listing individual styles -->
				<div
					v-for="variant, index in variants"
					class="color-box"
					:key="variant.variantId"
					:style="{ backgroundColor: variant.variantColor }"
					@mouseover="updateProduct(index)"
				>
				</div>

				<!-- v-on is used to listen for then handle events -->
				<!-- events: click, mouseover, submit, keyup -->
				<!-- can write expression (itemsInCart += 1) or call a method -->
				<!-- conditionally add a class by using an object where the key is the class name and value is an expression for if it is added -->
				<button
					@click="addToCart"
					:class="{ disabledButton: inventory === 0 }"
					:disabled="inventory === 0"
				>
					Add to Cart
				</button>

				<button
					@click="removeFromCart"
					:class="{ disabledButton: itemsInCart === 0 }"
					:disabled="itemsInCart === 0"
				>
					Remove from Cart
				</button>

				<div class="cart">
					<p>Cart({{ itemsInCart }})</p>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="main.js"></script>
</body>
</html>
