<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Product App</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<div class="nav-bar"></div>

	<div id="app">
		<div class="product">
			<div class="product-image">
				<!-- v-bind is used when you want the attribute (src) to update when data changes -->
				<!-- shorthand for v-bind is just :attribute -->
				<!-- attributes: href, alt, title, class, style, disabled, src, etc -->
				<img v-bind:src="image"/>
			</div>

			<div class="product-info">
				<h1>
					<!-- {{ }} = expression, where you can use Vue data -->
					{{ product }}
				</h1>

				<!-- v-if, v-else-if and v-else are used to conditionally display something -->
				<!-- v-if adds or removes the element from the dom -->
				<!-- use v-show to toggle visibility if the view will be toggled a lot for better perforance -->
				<p v-if="inventory > 10">
					In Stock
				</p>
				<p v-else-if="inventory <= 10 && inventory > 0">
					Almost Gone
				</p>
				<p v-else>
					Out of Stock
				</p>

				<span v-if="onSale">
					On Sale!
				</span>

				<ul>
					<!-- v-for is used to loop over data in array or object -->
					<li v-for="detail in details">
						{{ detail }}
					</li>
				</ul>

				<ul>
					<li v-for="size in sizes">
						{{ size }}
					</li>
				</ul>

				<!-- use key with v-bind when looping and creating elements -->
				<div v-for="variant in variants" :key="variant.variantId">
					<p>
						{{ variant.variantColor }}
					</p>
				</div>

			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="main.js"></script>
</body>
</html>
